
<!DOCTYPE html>
<!--
  Note to contributors: Do not submit any changes to this page, as it is generated automatically
  from https://github.com/fossasia/open-event-scraper.
-->
<html lang="en">
<head>
  <link rel="preload" as="script" href="./js/jquery.min.js">
  <link rel="preload" as="script" href="./js/bootstrap.min.js">
  <link rel="preload" as="script" href="./js/schedule.min.js">
  <link rel="preload" as="style" href="./css/schedule.css">
  <link rel="preload" as="style" href="./css/font-awesome.min.css">
  <link rel="preload" as="style" href="./css/bootstrap.min.css">
  <link rel="preload" as="font" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,300" crossorigin>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <meta name="description" content="{{ apptitle }} Schedule">
  <meta name="author" content="{{ metaauthor }}">

  <title>{{ apptitle }}</title>

  <!-- Bootstrap core CSS -->
  <!-- Latest compiled and minified CSS -->
  <link rel="shortcut icon" href="{{ eventurls.ico_url }}" type="image/x-icon" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="./css/font-awesome.min.css">
  <link rel="stylesheet" href="./css/bootstrap.min.css">
  <link rel="stylesheet" href="./css/schedule.css">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
</head>

<body>
  <a href="#schedule-list" class="skip">Skip to content</a>
  {{> scroll}}
  <a id="top"></a>
  {{> navbar}}
  <div class="main container" id="session-list">
    <div class="row" id="schedule-list">
      <div class="middle col-sm-12">
        <h2 class="filter-heading track-heading text-center">
        <span>
          Schedule
        </span>
        </h2>
      </div>
    </div>
    <!-- --------------------------------------------------------------
        search-filter, search-filter-speaker and fossasia-filter
        These classes are designed for search tab.

        day-filter and time-filter classes are intended for searching
        text across the page.
        --------------------------------------------------------------- -->
    <div class="date-list container">
      <div id="tabs" class="col-md-6 col-xs-12 col-sm-12 tabs no-js">
         <span class="tabs-nav">
            {{#timeList}}
            <a id="{{slug}}" href="#" class="{{slug}} date-button tabs-nav-link">{{date}}</a>
            {{/timeList}}
         </span>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12 navbar-flex" >
        <span class = "list-filter view-button">
          <button class = "btn" id = "list" >List View</button>
        </span>
        <span class = "calendar-filter view-button">
          <button class = "btn unselect" id = "calendar" >Calendar View</button>
        </span>
        <span class="search-filter search-filter-schedule">
            <input class="fossasia-filter" type="text" placeholder="Search" />
        </span>
        <span class = "show-button-filter">
          <button class = "btn btn-primary" id = "starred" >Starred</button>
        </span>
      </div>
    </div>

    <div class="row">
      <div id="content-block" class="col-md-9 list-view">
        <div id="track-list" class="container">

          {{#timeList}}
          {{#if @first}}
            <div class="{{slug}} day-filter">
            {{else}}
            <div class="{{slug}} day-filter hide">
          {{/if}}
            <div class="col-md-12 paddingzero">
              <h4 class="text">{{date}}</h4>
            </div>
            {{#times}}
            <div class="time-filter">
            <div class="row">
              <div class="eventtime col-xs-2 col-sm-2 col-md-2">
                <span>{{caption}}</span>
              </div>

              <div class="tracks col-xs-10 col-sm-10 col-md-10">
                {{#sessions}}
                <div class="track-inline" id="{{session_id}}">
                  <a class="anchor" id="s-{{session_id}}"></a>
                  <div class="schedule-container">
                    <div class="padding-right-zero">
                      <h4 style="background-color:{{{color}}};"  class="margin-right-zero sizeevent event"  data-toggle="collapse"
                        data-target="#desc-{{session_id}} .collapse"
                        aria-expanded="false"
                        aria-controls="desc-{{session_id}}">
                        {{title}}
                        {{#if audio}}
                          <i class="fa fa-music" aria-hidden="true"></i>
                        {{/if}}
                        <a class = "bookmark" id = "c{{session_id}}" >
                          <i class="fa fa-star" aria-hidden="true">
                          </i>
                        </a>
                      </h4>
                      <div id="desc-{{session_id}}">
                        <div class="collapse">
                          {{{description}}}
                          {{#if audio}}
                            <audio controls="" preload="none" id="audio-block">
                            <source src="{{ audio }}">
                            </audio>
                          {{/if}}
                        </div>
                        <hr class="clear-both collapse">
                        <div class="session-speakers-list collapse"
                          aria-expanded="false"
                          aria-controls="desc-{{session_id}}">
                          {{#each speakers_list}}
                          <a href="speakers.html#{{nameIdSlug}}">
                            <p class="session-speakers-less">
                              <p class="session-speakers">
                              {{#if photo}}
                                <img onError="this.onerror=null;this.src='images/avatar.png';" data-original="{{{thumb}}}" class="card-img-top speaker-image-large lazy" width="10" height="10"/>
                              {{else}}
                                <img class="card-img-top speaker-image-large" src="images/avatar.png"/>
                              {{/if}}
                              </p>
                              <span class="graytext speaker-name">{{name}}</span>
                            </p>
                          </a>
                          {{#if organisation}}
                          <p class="session-speakers-more">
                            {{organisation}}
                          </p>
                          {{/if}}
                          {{#if biography}}
                            <div class="session-speakers-more">
                              {{{biography}}}
                            </div>
                          {{/if}}
                          <div class="blacktext session-speaker-social">
                            <div class="session-speakers-more">
                              {{#if website}}
                              <a class="blacktext social speaker-social" href="{{{website}}}"}>
                                <i class="fa fa-home"></i> Web
                              </a>&nbsp;
                              {{/if}}
                              {{#if github}}
                              <a class="blacktext social speaker-social" href="{{{github}}}"}>
                                <i class="fa fa-github"></i> Github
                              </a>&nbsp;
                              {{/if}}
                              {{#if twitter}}
                              <a class="blacktext social speaker-social" href="{{{twitter}}}"}>
                                <i class="fa fa-twitter"></i> Twitter
                              </a>&nbsp;
                              {{/if}}
                              {{#if linkedin}}
                              <a class="blacktext social speaker-social" href="{{{linkedin}}}"}>
                                <i class="fa fa-linkedin"></i> LinkedIn
                              </a>&nbsp;
                              {{/if}}
                              <a class="session-lin social speaker-social clickable-link">
                                <i class="fa fa-share"></i> Share
                              </a>&nbsp;
                              <div class="social-buttons row">
                               {{> social}}
                               <div class="row social-link">
                                 <input class="speakers-inputbox" type="text" onclick="this.select()" value="base#s-{{../session_id}}" readonly>
                               </div>
                              </div>
                            </div>
                          </div>
                          <hr class="clear-both">
                          {{/each}}
                          <div class="blacktext">
                            <p><i>{{location}}</i></p>
                            <p>{{sessiondate}}, <span>{{start}} - {{end}}</span></p>
                            <p>
                              <ul class="title-inline">
                                <li style="background-color:{{{color}}}" class="titlecolor"></li>&nbsp;
                                <li class="blacktext">{{tracktitle}}</li>
                              </ul>
                            </p><br>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                {{/sessions}}
              </div>
            </div>
            </div>
            {{/times}}
          </div>
          {{/timeList}}
        </div>
      </div>
      <div id="content-block" class="col-md-12 calendar-view hide">
        <div id="track-list" class="container">
        {{#roomsinfo}}
          {{#if @first}}
            <div class="{{slug}} calendar">
            {{else}}
            <div class="{{slug}} calendar hide">
          {{/if}}
            <div class="col-md-12 paddingzero">
              <a class="anchor" id="{{slug}}"></a>
              <h5 class="text">{{date}}</h4>
            </div>
              <div class="calendar-content">
                <div class="times">
                  <div class="time" style="height: {{{timeToPixel}}}px">
                    &nbsp;
                  </div>
                  {{#timeline}}
                  <div class="time" style="height: {{{../timeToPixel}}}px; line-height: {{{../timeToPixel}}}px">
                    {{time}}
                  </div>
                  {{/timeline}}
                </div>
                <div class="rooms" style="height: {{{height}}}px;background-image: url('images/timeline.png');background-repeat: repeat;">
                  {{#venue}}
                  <div class="room">
                    <div class="room-header" style="width: {{{../width}}}px; height: {{{../timeToPixel}}}px;">
                      {{#if venue }}
                        <span>{{venue}}</span>
                      {{/if}}
                    </div>
                    <div class="session-container">
                      {{#sessions}}
                      <div class="session" style="top:{{{top}}}px; height:{{{height}}}px;background-color:{{{color}}}">
                        <div class="session-name">{{title}}</div>
                        <div class="pop-box hide">
                          <div class="arrow">
                            <span></span>
                          </div>
                          <div class="pop-container" id="pop-speaker-name">
                            <div class="pop">
                              <div class="pop-header">
                                <span class="s-popup-header-name"><strong>{{{title}}} ({{start}} - {{end}})</strong>
                                </span>
                              </div>
                              <div class="pop-over row">
                                <hr>
                                <h4 class="text"><strong>About the session</strong></h4>
                                {{{description}}}
                              </div>
                              <div class="pop-speakers">
                               <div class="pop-over row">
                                 <hr>
                                 <h4 class="text"><strong>Speakers</strong></h4>
                                 <div class="session-speakers-list">
                                 {{#speakers_list}}
                                   <a href="speakers.html#{{nameIdSlug}}">
                                     <div class="session-speakers-less">
                                       <p class="session-speakers">
                                       {{#if photo}}
                                         <img onError="this.onerror=null;this.src='images/avatar.png';" data-original="{{thumb}}" class="lazy card-img-top speaker-image-large"/>
                                       {{else}}
                                         <img class="card-img-top speaker-image-large" src="images/avatar.png"/>
                                       {{/if}}
                                       </p>
                                       <span class="graytext">{{name}}</span>
                                     </div>
                                   </a>
                                   {{#if organisation}}
                                     <p class="session-speakers-more">
                                     {{organisation}}
                                     </p>
                                   {{/if}}
                                   {{#if biography}}
                                     <div class="session-speakers-more">
                                       {{{biography}}}
                                     </div>
                                   {{/if}}
                                   <div class="blacktext session-speaker-social">
                                     <div class="session-speakers-more">
                                       {{#if website}}
                                       <a class="blacktext social speaker-social" href="{{{website}}}"}>
                                         <i class="fa fa-home"></i> Web
                                       </a>&nbsp;
                                       {{/if}}
                                       {{#if github}}
                                       <a class="blacktext social speaker-social" href="{{{github}}}"}>
                                         <i class="fa fa-github"></i> Github
                                       </a>&nbsp;
                                       {{/if}}
                                       {{#if twitter}}
                                       <a class="blacktext social speaker-social" href="{{{twitter}}}"}>
                                         <i class="fa fa-twitter"></i> Twitter
                                       </a>&nbsp;
                                       {{/if}}
                                       {{#if linkedin}}
                                       <a class="blacktext social speaker-social" href="{{{linkedin}}}"}>
                                         <i class="fa fa-linkedin"></i> LinkedIn
                                       </a>&nbsp;
                                       {{/if}}
                                       <a class="session-lin blacktext social speaker-social clickable-link">
                                         <i class="fa fa-share"></i> Share
                                       </a>
                                       <div class="social-buttons row">
                                        {{> social}}
                                        <div class="row social-link">
                                          <input class="speakers-inputbox" type="text" onclick="this.select()" value="base#venue-{{../session_id}}" readonly>
                                        </div>
                                       </div>
                                     </div>
                                   </div>
                                   <hr class="clear-both">
                                   {{/speakers_list}}
                                   <div class="blacktext">
                                     {{#if roomname}}
                                     <p><i>{{roomname}}</i></p>
                                     {{/if}}
                                     {{#if sessiondate}}
                                     <p>{{sessiondate}}, <span>{{start}} - {{end}}</span></p>
                                     {{/if}}
                                     <p>
                                       <ul class="title-inline">
                                         <li style="background-color:{{{color}}}" class="titlecolor"></li>&nbsp;
                                         <li class="blacktext">{{tracktitle}}</li>
                                       </ul>
                                     </p><br>
                                   </div>
                                 </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      {{/sessions}}
                    </div>
                  </div>
                  {{/venue}}
                  <div class="calendar-footer"></div>
                </div>
              </div>
            </div>
          {{/roomsinfo}}
        </div>
      </div>
      <div class="track-names">
      {{#tracknames}}
      {{#if title}}
        <ul class="title-inline title-legend">
          <li style="background-color:{{{color}}}" class="titlecolor"></li>
          <li>{{title}}</li>
        </ul>
      {{/if}}
      {{/tracknames}}
      </div>
    </div>
  </div>

  {{> footer}}
  <script src="./js/jquery.min.js"></script>
  <script src="./js/bootstrap.min.js" type="text/javascript"></script>
  <script src="./js/schedule.min.js" type="text/javascript"></script>
  <script type="text/javascript">
     $(document).ready(function() {
       var maxNoOfSessions = 1000;
       var mode = 0;
       var flag = 0;
       var isAdded = 0;
       var isCalendarView = false;


       $(function() {
         $("img.lazy").lazyload({
           threshold: 2000
         });
       });

      $('.session-lin').click(function() {
         $(this).parent().parent().find("div.social-buttons").toggle();
         var val = $(this).parent().parent().find('.speakers-inputbox').val();
         $(this).parent().parent().find('.speakers-inputbox').val(window.location.href.split('#')[0] + '#'  + val.split('#').pop());
        });
      $('.fossasia-filter:first').change(function() {
              var filterVal = $(this).val();
              if (filterVal) {
                $('.day-filter').each(function() {
                  var temp = 1;
                  $(this).find('.time-filter').each(function() {
                      var flag = 1;
                      $(this).find('.track-inline').each(function() {
                          if ($(this).find('.tip-description').text().toUpperCase().indexOf(filterVal.toUpperCase()) < 0 &&
                              $(this).find('.session-speakers-list a p span').text().toUpperCase().indexOf(filterVal.toUpperCase()) < 0 &&
                              $(this).find('.session-speakers-more').text().toUpperCase().indexOf(filterVal.toUpperCase()) < 0 &&
                              $(this).find('.event').text().toUpperCase().indexOf(filterVal.toUpperCase()) < 0 &&
                              $(this).find('.speaker-name').text().toUpperCase().indexOf(filterVal.toUpperCase()) < 0) {
                               $(this).hide();
                           } else {
                             if($(this).is(':visible')) {
                                 flag = 0;
                                 $(this).show();
                             }
                           }
                      });
                      if (flag == 1) {
                          $(this).hide();
                      } else {
                          temp = 0;
                          $(this).show();
                      }
                  });
                  if (temp == 1) {
                      $(this).hide();
                  } else {
                      $(this).show();
                  }
                });
              } else {
                var flag = 0;
                if(mode) {
                  display();
                } else {
                  $('.day-filter').each(function() {
                    $(this).find('.time-filter').each(function() {
                        $(this).find('.track-inline').each(function() {
                            $(this).show();
                        });
                        $(this).show();
                    });
                    $(this).show();
                  });
                }
              }

              // show "no results" if search input value matches zero items
              if ($('.day-filter:visible').length == 0) {
                  $('#no-results').remove();
                  $('.search-filter:first').after('<p id="no-results">No matching results found.</p>');
              } else {
                  $('#no-results').remove();
              }
              return false;
          }).keyup(function() {
              $(this).change();
          });

          $('.bookmark').click(function(event){
            var temp = JSON.parse(localStorage['sessions']);
            var id = Number($(this).attr('id').substr(1));
            flag = 1;
            var curColor = $(this).css("color");
            if (curColor == "rgb(0, 0, 0)") {
              $(this).css("color", "");
              temp[id] = 0;
              isAdded = 0;
            }
            else {
              $(this).css("color", "black");
              temp[id] = 1;
              isAdded = 1;
            }
            localStorage['sessions'] = JSON.stringify(temp);
          });

          $('.track-inline').click(function(event){
            if(flag) {
              event.stopPropagation();
              if(mode && !isAdded) {
                $(this).hide();
                isAdded = 0;
              }
              flag = 0;
            }
          });

          $('#starred').click(function() {
            mode = !mode;
            if(mode)
              $(this).text("All");
            else
              $(this).text("Starred");
            display();
          });

          $('.date-button').click(function() {
              let className = $(this).attr('class').split(' ')[0];
              if(isCalendarView) {
                $('.calendar').each(function () {
                  if($(this).attr('class').split(' ')[0] === className) {
                    $(this).removeClass('hide');
                  } else {
                    $(this).addClass('hide');
                  }
                });
              } else {
                $('.day-filter').each(function () {
                  if($(this).attr('class').split(' ')[0] === className) {
                    $(this).removeClass('hide');
                  } else {
                    $(this).addClass('hide');
                  }
                });
              }
            });

          $('#calendar').click(function() {
            isCalendarView = true;
            $('#list').addClass('unselect');
            $('#calendar').removeClass('unselect');
            $('.list-view').addClass('hide');
            $('.calendar-view').removeClass('hide');
          });

          $('#list').click(function() {
            isCalendarView = false;
            $('#list').removeClass('unselect');
            $('#calendar').addClass('unselect');
            $('.list-view').removeClass('hide');
            $('.calendar-view').addClass('hide');
          });

          function display() {
            console.log("Inside the display function");
            if(localStorage.hasOwnProperty('sessions') === false) {
              localStorage['sessions'] = JSON.stringify(new Array(maxNoOfSessions).fill(0));
            }
            var temp = JSON.parse(localStorage['sessions']);

            $('.day-filter').each(function() {
              var dayFlag = 0;
              $(this).find('.time-filter').each(function() {
                var timeFlag = 0;
                $(this).find('.track-inline').each(function() {
                  var elemId = $(this).attr('id');
                  var elemFlag = 0;
                  if(temp[elemId] == 1) {
                    elemFlag = timeFlag = dayFlag = 1;
                    $(this).find('.bookmark').each(function() {
                      $(this).css("color", "black");
                    });
                  }
                  if (elemFlag || !mode) {
                    $(this).show();
                  }
                  else {
                    $(this).hide();
                  }
                });

                if(timeFlag || !mode) {
                  $(this).show();
                }
                else {
                  $(this).hide();
                }
              });

              if(dayFlag || !mode) {
                $(this).show();
              }
              else {
                $(this).hide();
              }
            });
          }

          function initPage() {
            console.log("inside initPage");
            if(localStorage.hasOwnProperty('sessions') === false) {
              localStorage['sessions'] = JSON.stringify(new Array(maxNoOfSessions).fill(0));
            }
            var temp = JSON.parse(localStorage['sessions']);
            var elemId;
            for (var i = 0; i < temp.length; i++) {
              if(temp[i] === 1) {
                elemId = $('#' + i).find('.bookmark').css("color", "black");;
              }
            }
          }
          initPage();
        });
    </script>
</body>
</html>
