{{#if flag}}
<div id="tabs" class="col-md-8 col-xs-12 col-sm-12 tabs no-js">
   <span class="tabs-nav">
      {{#days}}
      <a id="{{firstSlug}}" href="#" class="tabs-nav-link">{{caption}}</a>
      {{/days}}
   </span>
   {{#days}}
   <span class="tab">
      <span class="tab-content">{{#tracks}}<a href = "./tracks.html#{{slug}}">{{title}}  </a>{{/tracks}}</span>
   </span>
   {{/days}}
</div>
{{else}}
<span id="tabs" class="col-md-8 tabs no-js">
   <span class="tabs-nav">
      {{#roomsinfo}}
      <a id="{{slug}}" href="#" class="tabs-nav-link">{{date}}</a>
      {{/roomsinfo}}
   </span>
   {{#roomsinfo}}
   <span class="tab">
     <span class="tab-content">{{#venue}}{{#if venue}}<a  href = "./room.html#venue-{{../slug}}-{{slug}}">{{venue}} {{/if}} </a>{{/venue}}</span>
   </span>
   {{/roomsinfo}}
</span>
{{/if}}
